# Practical_3: Iterable objects or Containers

---

### Exercise 1:
Create a list of integers from 1 to 10.

```python
# Exercise 1
```

In [6]:
list_integers=list( range(1,11))

---

### Exercise 2:
Create a tuple containing the elements `"apple"`, `"banana"`, and `"cherry"`.

```python
# Exercise 2
```

In [7]:
fruits=("apple","banana","cherry")

---

### Exercise 3:
Convert the list `numbers = [10, 20, 30, 40]` into a tuple.

```python
# Exercise 3

In [8]:
numbers = [10, 20, 30, 40]
numb=tuple(numbers)

```

---

### Exercise 4:
Create a set containing the elements `1, 2, 3, 4, 5`.

```python
# Exercise 4

In [11]:
element=set(range(1,6))

```

---

### Exercise 5:
Create a dictionary `student` with the keys `"name"`, `"age"`, and `"grade"` and corresponding values `"Alice"`, `20`, and `"A"`.

```python
# Exercise 5

In [12]:
student={"name":"Alice","age":20,"grade":"A"}

```

---

### Exercise 6:
Access the second element of the list `[10, 20, 30, 40, 50]` using indexing.

```python
# Exercise 6

In [ ]:
lis=[10, 20, 30, 40, 50]
lis[1]

In [ ]:
```

---

### Exercise 7:
Change the third element of the list `fruits = ["apple", "banana", "cherry", "orange"]` to `'mango'`.

```python
# Exercise 7

In [16]:
fruits = ["apple", "banana", "cherry", "orange"]
fruits[2]= ["mango"]

```

---

### Exercise 8:
Add the number `6` to the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 8

In [17]:
numbers = {1, 2, 3, 4, 5}
numbers.add(6)

In [ ]:
```

---

### Exercise 9:
Remove the key `"age"` from the dictionary `person = {"name": "John", "age": 25, "city": "New York"}`.

```python
# Exercise 9

In [20]:
person = {"name": "John", "age": 25, "city": "New York"}
del person["age"]

```

---

### Exercise 10:
Create a range object starting from 0 to 9.

```python
# Exercise 10

In [ ]:
objects=range(0,10)

```

---

### Exercise 11:
Use a list comprehension to create a list of squares of numbers from 1 to 10.

```python
# Exercise 11

In [ ]:
lis=[v**2 for v in range(1,11)]

```

---

### Exercise 12:
Create a tuple of even numbers between 2 and 10 using a tuple comprehension.

```python
# Exercise 12

In [21]:
even=tuple(range(2,11,2))

In [ ]:
```

---

### Exercise 13:
Use a for loop to iterate through the list `fruits = ["apple", "banana", "cherry"]` and print each element.

```python
# Exercise 13

In [23]:
fruits = ["apple", "banana", "cherry"]
for i in range(0,len(fruits)):
    print(fruits[i])

```

---

### Exercise 14:
Check if the value `3` exists in the set `numbers = {1, 2, 3, 4, 5}`.

```python
# Exercise 14

In [ ]:
numbers = {1, 2, 3, 4, 5}
3 in numbers

```

---

### Exercise 15:
Use the `len()` function to find the length of the tuple `numbers = (10, 20, 30)`.

```python
# Exercise 15

In [ ]:
numbers = (10, 20, 30)
len(numbers)

```

---

### Exercise 16:
Add the value `100` at the end of the list `scores = [80, 85, 90, 95]`.

```python
# Exercise 16

In [ ]:
scores = [80, 85, 90, 95]
scores.append(100)

In [27]:
#EXERCise 17
#numbers is name liste
def sum_function(numbers):
    sum_numbers=0
    for k in numbers:
        sum_numbers+=k
        return sum_numbers

In [ ]:
```

---

### Exercise 18:
Create a set containing the unique elements of the list `numbers = [1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 18

In [28]:
numbers = [1, 2, 2, 3, 4, 4, 5]
set_numbers=set(numbers)

```

---

### Exercise 19:
Convert the string `"hello"` into a list of characters.

```python
# Exercise 19

In [29]:
list_hello=list("hello")

```

---

### Exercise 20:
Write a Python function that reverses a tuple `(1, 2, 3, 4)`.

```python
# Exercise 20

In [30]:
tple=(1, 2, 3, 4)
def reverse_function(tple):
                return tple[::-1]

In [ ]:
```

---

### Exercise 21:
Merge two dictionaries `dict1 = {"a": 1, "b": 2}` and `dict2 = {"c": 3, "d": 4}` into a single dictionary.

```python
# Exercise 21

In [31]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
dict3=dict1.update(dict2)

```

---

### Exercise 22:
Create a dictionary where keys are numbers from 1 to 5, and values are their squares.

```python
# Exercise 22

In [32]:
dic={v:v**2 for v in range(1,6)}

```

---

### Exercise 23:
Write a Python program to iterate through a dictionary and print each key-value pair.

```python
# Exercise 23

In [6]:
my_dict={
    "name":"Alice",
    "age":23,
    "adresse":"mbour"
}
for k in my_dict.items():
print(f"key:{key},value:{value}")

```

---

### Exercise 24:
Create a list of the first 5 letters of the alphabet using the `chr()` function.

```python
# Exercise 24

In [40]:
first_letters=list(chr(v) for v in range(0,6))

```

---

### Exercise 25:
Use the `zip()` function to combine two lists `[1, 2, 3]` and `["a", "b", "c"]` into a list of tuples.

```python
# Exercise 25

In [41]:
list1=[1, 2, 3]
list2=["a", "b", "c"]
list3=zip(list1,list2)

```

---

### Exercise 26:
Find the index of the value `50` in the list `[10, 20, 30, 40, 50]`.

```python
# Exercise 26

In [42]:
lis=[10, 20, 30, 40, 50]
lis.index(50)

4

```

---

### Exercise 27:
Sort the list `names = ["Alice", "Bob", "Charlie", "David"]` in alphabetical order.

```python
# Exercise 27

In [44]:
names = ["Alice", "Bob", "Charlie", "David"]
names.sort()

```

---

### Exercise 28:
Write a Python function that takes a list of integers as input and returns the largest number.

```python
# Exercise 28

In [47]:
def largest_number(numbers) :
                 return max(numbers)

```

---

### Exercise 29:
Use the `count()` method to count how many times `"apple"` appears in the list `fruits = ["apple", "banana", "apple", "orange"]`.

```python
# Exercise 29

In [48]:
fruits = ["apple", "banana", "apple", "orange"]
fruits.count("apple")

2

```

---

### Exercise 30:
Create a dictionary `person` where keys are `"name"`, `"age"`, and `"city"`, and values are `"Alice"`, `25`, and `"New York"` respectively. Then access the value of the `"city"` key.

```python
# Exercise 30

In [50]:
person={"name":"Alice","age":25,"city":"New York"}
person["city"]

'New York'

```

---

### Exercise 31:
Write a Python function that takes a list as input and returns a new list with all duplicates removed.

```python
# Exercise 31

In [ ]:
def remove_duplicates(input_list):
    """
    Removes duplicates from the input list and returns a new list with unique elements.
    """
    return list(set(input_list))

```

---

### Exercise 32:
Write a Python function that takes two lists and returns their intersection.

```python
# Exercise 32

In [ ]:
def find_intersection(list1, list2):
    """
    Takes two lists and returns their intersection.
    """
    set1 = set(list1)
    set2 = set(list2)
    return list(set1.intersection(set2))

```

---

### Exercise 33:
Create a generator that yields the squares of numbers from 1 to 10.

```python
# Exercise 33

In [ ]:
def square_generator():
    """
    Yields the squares of numbers from 1 to 10.
    """
    for i in range(1, 11):
        yield i * i

```

---

### Exercise 34:
Write a Python function that takes a dictionary as input and returns the sum of all its values.

```python
# Exercise 34

In [ ]:
def sum_dictionary_values(input_dict):
    """
    Takes a dictionary as input and returns the sum of all its values.
    """
    return sum(input_dict.values())

```

---

### Exercise 35:
Use the `sorted()` function to sort the list `[3, 1, 4, 1, 5, 9]` in ascending order.

```python
# Exercise 35

In [ ]:
my_list = [3, 1, 4, 1, 5, 9]
sorted_list = sorted(my_list)
print(f"Sorted list in ascending order: {sorted_list}")

```

---

### Exercise 36:
Write a Python function that takes a list of strings as input and returns the longest string.

```python
# Exercise 36

In [ ]:
def find_longest_string(string_list):
    """
    Takes a list of strings as input and returns the longest string.
    """
    return max(string_list, key=len)

```

---

### Exercise 37:
Check if all the elements in the list `[1, 2, 3, 4, 5]` are greater than 0 using the `all()` function.

```python
# Exercise 37

In [ ]:
my_list = [1, 2, 3, 4, 5]
result = all(x > 0 for x in my_list)
print(f"All elements are greater than 0: {result}")

```

---

### Exercise 38:
Create a list of tuples where each tuple contains a number and its square for numbers from 1 to 5.

```python
# Exercise 38

In [ ]:
squares_list=[(i,i*i) for i in range(1,6)]
print(f"list of tuples : {squares_list} ")

```

---

### Exercise 39:
Write a Python function that takes a list of tuples and returns a list of the second elements from each tuple.

```python
# Exercise 39

In [ ]:
def get_second_elements(tuple_list):
    return [t[1] for t in tuple_list]

```

---

### Exercise 40:
Write a Python function that flattens a list of lists into a single list.

```python
# Exercise 40

In [ ]:
def flatten_list(list_of_lists):
    return [item for sublist in list_of_lists for item in sublist]

```

---

### Exercise 41:
Use the `enumerate()` function to iterate through the list `["apple", "banana", "cherry"]` and print the index and value.

```python
# Exercise 41

In [ ]:
def print_enumerated(fruit_list):
    for index, value in enumerate(fruit_list):
        print(f"Index: {index}, Value: {value}")

```

---

### Exercise 42:
Write a Python program that checks if a tuple is empty.

```python
# Exercise 42

In [ ]:
def is_tuple_empty(t):
    return len(t) == 0

```

---

### Exercise 43:
Create a list of even numbers between 1 and 20 using the `range()` function.

```python
# Exercise 43

In [ ]:
even_numbers = list(range(2, 21, 2))

```

---

### Exercise 44:
Write a Python function that takes a list of numbers as input and returns the list in reverse order.

```python
# Exercise 44

In [ ]:
def reverse_list(numbers):
    return numbers[::-1]

```

---

### Exercise 45:
Create a dictionary comprehension that maps numbers from 1 to 5 to their cubes.

```python
# Exercise 45

In [ ]:
cubes = {x: x**3 for x in range(1, 6)}

```

---

### Exercise 46:
Write a Python program that creates a new list containing only the unique elements of the list `[1, 2, 2, 3, 4, 4, 5]`.

```python
# Exercise 46

In [ ]:
riginal_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(original_list))
unique_list.sort()

```

---

### Exercise 47:
Write a Python function that takes a list of dictionaries and returns a list of the values for a given key.

```python
# Exercise 47

In [ ]:
def extract_values(dict_list, key):
    return [d[key] for d in dict_list if key in d]

```

---

### Exercise 48:
Write a Python function that uses a generator to yield the Fibonacci sequence up to `n` terms.

```python
# Exercise 48

In [ ]:
def fibonacci_generator(n):
    a, b = 0, 1
    for _ in range(n):
        yield a
        a, b = b, a + b

```

---

### Exercise 49:
Write a Python function that takes a string and returns a list of all unique characters in the string.

```python
# Exercise 49

In [ ]:
def unique_characters(input_string):
    return list(set(input_string))

```

---

### Exercise 50:
Write a Python function that merges two sorted lists into a single sorted list.

```python
# Exercise 50

In [ ]:
def merge_sorted_lists(list1, list2):
    """
    Merges two sorted lists into a single sorted list.
    """
    merged_list = []
    i, j = 0, 0
    while i < len(list1) and j < len(list2):
        if list1[i] < list2[j]:
            merged_list.append(list1[i])
            i += 1
        else:
            merged_list.append(list2[j])
            j += 1
    while i < len(list1):
        merged_list.append(list1[i])
        i += 1
    while j < len(list2):
        merged_list.append(list2[j])
        j += 1
    return merged_list

```

---

### Exercise 51:
Use the

 `filter()` function to filter out odd numbers from the list `[1, 2, 3, 4, 5, 6]`.

```python
# Exercise 51

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
odd_numbers = list(filter(lambda x: x % 2 != 0, numbers))
print(odd_numbers)

```

---

### Exercise 52:
Write a Python program that converts a list of tuples `[(1, 2), (3, 4), (5, 6)]` into a dictionary.

```python
# Exercise 52

In [ ]:
list_of_tuples = [(1, 2), (3, 4), (5, 6)]
result_dict = dict(list_of_tuples)
print("Converted dictionary:", result_dict)

```

---

### Exercise 53:
Write a Python function that takes two sets and returns their symmetric difference.

```python
# Exercise 53

In [1]:
def symmetric_difference(set1, set2):
    return set1.symmetric_difference(set2)

```

---

### Exercise 54:
Write a Python program that finds the common elements in three lists `list1`, `list2`, and `list3`.

```python
# Exercise 54

In [ ]:
# Define the three lists
list1 = [1, 2, 3, 4]
list2 = [2, 3, 5, 6]
list3 = [1, 2, 3, 7]
common_elements = set(list1) & set(list2) & set(list3)
common_elements = list(common_elements)
print("Common elements:", common_elements)

```

---

### Exercise 55:
Write a Python function that returns the factorial of a number using recursion.

```python
# Exercise 55

In [2]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

```

---

### Exercise 56:
Write a Python program that removes all empty strings from the list `["apple", "", "banana", "", "cherry"]`.

```python
# Exercise 56

In [4]:
fruits = ["apple", "", "banana", "", "cherry"]
filtered_fruits = [fruit for fruit in fruits if fruit]
print(filtered_fruits)

```

---

### Exercise 57:
Write a Python function that takes a dictionary and returns a new dictionary with the keys and values swapped.

```python
# Exercise 57

In [ ]:
def swap_keys_values(input_dict):
    
    return {value: key for key, value in input_dict.items()}

```

---

### Exercise 58:
Write a Python function that takes a list of integers and returns a new list with only the even numbers.

```python
# Exercise 58

In [ ]:
def get_even_numbers(numbers):
    return [num for num in numbers if num % 2 == 0]

```

---

### Exercise 59:
Write a Python function that takes a list of tuples and returns a list of the first elements of each tuple.

```python
# Exercise 59

In [ ]:
def get_first_elements(tuple_list):
    return [t[0] for t in tuple_list]

```

---

### Exercise 60:
Write a Python program that removes duplicates from a list without changing the order of elements.

```python
# Exercise 60

In [ ]:
def remove_duplicates(input_list):
    seen = set()
    result = []
    for item in input_list:
        if item not in seen:
            result.append(item)
            seen.add(item)
    return result

```

---

### Exercise 61:
Use the `map()` function to convert a list of strings to a list of their lengths.

```python
# Exercise 61

In [ ]:
def string_lengths(strings):
    return list(map(len, strings))

```

---

### Exercise 62:
Write a Python program that calculates the average of a list of numbers.

```python
# Exercise 62

In [ ]:
def calculate_average(numbers):
    if not numbers:  
        return 0
    return sum(numbers) / len(numbers)

```

---

### Exercise 63:
Write a Python function that generates a list of the first `n` Fibonacci numbers.

```python
# Exercise 63

In [5]:
def fibonacci(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    fib_list = [0, 1]
    for i in range(2, n):
        fib_list.append(fib_list[i-1] + fib_list[i-2])
    return fib_list

```

---

### Exercise 64:
Write a Python program that counts how many times each element appears in the list `["apple", "banana", "apple", "cherry"]`.

```python
# Exercise 64

In [6]:
def count_elements(lst):
    count_dict = {}
    for item in lst:
        count_dict[item] = count_dict.get(item, 0) + 1
    return count_dict
fruits = ["apple", "banana", "apple", "cherry"]
print(count_elements(fruits))

{'apple': 2, 'banana': 1, 'cherry': 1}

```

---

### Exercise 65:
Write a Python program that removes all occurrences of a specific value from a list.

```python
# Exercise 65

In [ ]:
def remove_all_occurrences(lst, value):
    return [item for item in lst if item != value]

```

---

### Exercise 66:
Write a Python function that takes a list of strings and returns a list of the strings that start with a vowel.

```python
# Exercise 66

In [ ]:
def filter_vowel_strings(strings):
    vowels = {'a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'}
    return [s for s in strings if s and s[0] in vowels]

```

---

### Exercise 67:
Write a Python program that finds the intersection of two sets `set1` and `set2`.

```python
# Exercise 67

In [ ]:
inter_s1_s2 = set1.intersection(set2)

```

---

### Exercise 68:
Write a Python function that flattens a nested list.

```python
# Exercise 68

In [ ]:
def flatten_list(nested_list):
    flat_list = []
    for item in nested_list:
        if isinstance(item, list):
            flat_list.extend(flatten_list(item))  # Recursively flatten nested lists
        else:
            flat_list.append(item)
    return flat_list

```

---

### Exercise 69:
Write a Python program that checks if all the elements in a list are unique.

```python
# Exercise 69

In [ ]:
def are_elements_unique(lst):
    return len(lst) == len(set(lst))

```

---

### Exercise 70:
Use the `reduce()` function from the `functools` module to multiply all elements in a list.

```python
# Exercise 70

In [8]:
from functools import reduce
result = reduce(lambda x, y: x * y, numbers)

```

---

### Exercise 71:
Write a Python function that takes a list of strings and returns a dictionary where keys are strings and values are their lengths.

```python
# Exercise 71

In [ ]:
def strings_to_length_dict(strings):
    return {string: len(string) for string in strings}

```

---

### Exercise 72:
Write a Python program that counts the number of vowels in a string.

```python
# Exercise 72

In [9]:
def count_vowels(input_string):
    vowels = "cvaddjEDbjkjsb"
    count = 0
    for char in input_string:
        if char in vowels:
            count += 1
    return count

```

---

### Exercise 73:
Create a list of tuples where each tuple contains a number from 1 to 5 and its factorial.

```python
# Exercise 73

In [21]:
def factorial(n):
    if n == 0:
           return 1
    return n * factorial(n - 1) 
factorial_tuples =[( n, factorial(n) for n in range(1, 6)]

```

---

### Exercise 74:
Write a Python program that converts a list of dictionaries into a single dictionary by merging them.

```python
# Exercise 74

In [ ]:
from functools import reduce
import operator
list_of_dicts = [{'a': 1, 'b': 2}, {'b': 3, 'c': 4}, {'d': 5}]
merged_dict = {}
for d in list_of_dicts:
    merged_dict |= d  
print("Merged Dictionary :", merged_dict)

```

---

### Exercise 75:
Write a Python function that checks if a set is a subset of another set.

```python
# Exercise 75

In [ ]:
def is_subset(set_a, set_b):
    return set_a.issubset(set_b)

```

---

### Exercise 76:
Write a Python program that sorts a list of tuples based on the second element in each tuple.

```python
# Exercise 76

In [23]:
data=[(2,8),(3,5),(4,3)]
sorted_data = sorted(data, key=lambda x: x[1])
print("Sorted list:", sorted_data)

Sorted list: [(4, 3), (3, 5), (2, 8)]

```

---

### Exercise 77:
Write a Python function that takes a list of integers and returns a new list with only the positive integers.

```python
# Exercise 77

In [ ]:
def filter_positive_integers(numbers):
    return [num for num in numbers if num > 0]

```

---

### Exercise 78:
Write a Python function that takes two sets and returns their union.

```python
# Exercise 78

In [ ]:
def union_of_sets(set1, set2):
    return set1.union(set2)

```

---

### Exercise 79:
Write a Python function that takes a list of numbers and returns the product of all the numbers.

```python
# Exercise 79

In [ ]:
from functools import reduce

def multiply_numbers(numbers):
    if not numbers: 
        return 1
    return reduce(lambda x, y: x * y, numbers)

```

---

### Exercise 80:
Write a Python program that converts a list of characters into a string.

```python
# Exercise 80

In [24]:
chr_lst = ['r', 'a', 'h', 'm', 't', 'i ', 'l', 'a', 'e']
rslt_str = ''.join(chr_lst)
print("The resulting string is:", rslt_str)

The resulting string is: rahmti lae

```

---

### Exercise 81:
Write a Python program that finds the second largest number in a list of integers.

```python
# Exercise 81

In [ ]:
def find_second_largest(numbers):
    if len(numbers) < 2:
        return "List must contain at least two distinct numbers."
    unique_numbers = list(set(numbers))
     if len(unique_numbers) < 2:
        return "List must contain at least two distinct numbers."
    unique_numbers.sort(reverse=True)
    return unique_numbers[1]

```

---

### Exercise 82:
Write a Python function that takes a dictionary and returns a list of its keys in sorted order.

```python
# Exercise 82

In [ ]:
def get_sorted_keys(input_dict):
    return sorted(input_dict.keys())

```

---

### Exercise 83:
Write a Python program that finds the most common element in a list.

```python
# Exercise 83

In [ ]:
from collections import Counter
def most_common_element(lst):
    if not lst:
        return None  
    count = Counter(lst)
    return count.most_common(1)[0][0]

```

---

### Exercise 84:
Write a Python function that takes a list of tuples and returns a list of the tuples sorted by the first element.

```python
# Exercise 84

In [ ]:
def sort_tuples_by_first_element(tuples_list):
    return sorted(tuples_list, key=lambda x: x[0])

```

---

### Exercise 85:
Write a Python program that removes duplicates from a list of dictionaries.

```python
# Exercise 85

In [ ]:
def remove_duplicates(dict_list):
    # Use a set to track seen dictionaries (converted to tuples)
    seen = set()
    unique_list = []
    
    for d in dict_list:
        # Convert dictionary to a frozenset of its items to make it hashable
        dict_tuple = frozenset(d.items())
        if dict_tuple not in seen:
            seen.add(dict_tuple)
            unique_list.append(d)
    
    return unique_list

```

---

### Exercise 86:
Write a Python function that takes a list of numbers and returns the minimum and maximum numbers in the list.

```python
# Exercise 86

In [1]:
def find_min_max(numbers):
    if not numbers:  
        return None, None
    minm= min(numbers)
    maxm = max(numbers)
    return minm, maxm

```

---

### Exercise 87:
Write a Python program that creates a list of tuples from two lists.

```python
# Exercise 87

In [ ]:
def create_tuples_list(list1, list2):
    return list(zip(list1, list2))

```

---

### Exercise 88:
Write a Python function that takes a list of strings and returns a list of the strings in reverse order.

```python
# Exercise 88

In [ ]:
def reverse_strings_list(string_list):
    return string_list[::-1]

```

---

### Exercise 89:
Write a Python function that takes a list of integers and returns the sum of all odd numbers.

```python
# Exercise 89

In [ ]:
def sum_of_odds(numbers):
    return sum(num for num in numbers if num % 2 != 0)

```

---

### Exercise 90:
Write a Python program that checks if a string is a palindrome.

```python
# Exercise 90

In [2]:
def is_palindrome(s):
    s = s.replace(" ", "").lower()
    return s == s[::-1]

```

---

### Exercise 91:
Write a Python program that finds the median of a list of numbers.

```python
# Exercise 91

In [3]:
def find_median(numbers):
    sorted_numbers = sorted(numbers)
    length = len(sorted_numbers)
    if length % 2 == 1:
        return sorted_numbers[length // 2]
    else:
        mid1 = sorted_numbers[(length - 1) // 2]
        mid2 = sorted_numbers[length // 2]
        return (mid1 + mid2) / 2

```

---

### Exercise 92:
Write a Python function that takes a list of dictionaries and returns a dictionary with the total value for each key.

```python
# Exercise 92

In [ ]:
def sum_dict_values(dict_list):
    result = {}
    for d in dict_list:
        for key, value in d.items():
            if key in result:
                result[key] += value
            else:
                result[key] = value
    return result

```

---

### Exercise 93:
Write a Python program that calculates the mode of a list of numbers.

```python
# Exercise 93

In [4]:
from collections import Counter

def calculate_mode(numbers):
    if not numbers:
        return None
    count = Counter(numbers)
    max_count = max(count.values())
    mode = [num for num, freq in count.items() if freq == max_count]
    return mode[0] if len(mode) == 1 else mode

```

---

### Exercise 94:
Write a Python function that takes a list of numbers and returns the sum of the squares of all the numbers.

```python
# Exercise 94

In [ ]:
def sum_of_squares(numbers):
    return sum(x * x for x in numbers)

```

---

### Exercise 95:
Write a Python program that creates a list of tuples, where each tuple contains a number and its cube for numbers from 1 to 5.

```python
# Exercise 95

In [ ]:
def create_tuples():
    return [(i, i**3) for i in range(1, 6)]

```

---

### Exercise 96:
Write a Python function that returns a list of all prime numbers up to `n`.

```python
# Exercise 96

In [ ]:
def get_primes(n):
    primes = []
    for i in range(2, n + 1):
        is_prime = True
        for j in range(2, int(i ** 0.5) + 1):
            if i % j == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(i)
    return primes

```

---

### Exercise 97:
Write a Python program that finds the common keys between two dictionaries.

```python
# Exercise 97

In [ ]:
def common_keys(dict1, dict2):
    return list(set(dict1.keys()) & set(dict2.keys()))

```

---

### Exercise 98:
Write a Python function that takes a list of strings and returns a list of the strings that contain more than 5 characters.

```python
# Exercise 98

In [ ]:
def filter_long_strings(string_list):
    return [s for s in string_list if len(s) > 5]

```

---

### Exercise 99:
Write a Python program that converts a list of strings into a list of tuples, where each tuple contains the string and its length.

```python
# Exercise 99
```

In [ ]:
def string_length_tuples(string_list):
    return [(s, len(s)) for s in string_list]

---

### Exercise 100:
Write a Python function that takes a list of dictionaries and returns a new dictionary by summing the values of each key across all dictionaries.

```python
# Exercise 100
```

---

In [ ]:
def filter_long_strings(string_list):
    return [s for s in string_list if len(s) > 5]